

body{
	background-color: #b50707;
	margin: auto;
	text-align: center;
	
}
#main
{
	position: relative;
	text-align: center;
	width: 1000px;
	height: 600px;
	left: 333px;
	padding-top: 150px;
	
}



#container {
	width: 400px;
	position: absolute;
  	line-height: 0em;
	background-color: white;
	left: 300px;
	

}


.celda {
	position: relative;
	
	float: left;
	/*border:	solid 1px black; */
	margin: 0;
}

#etiMulti{
	color: green;
	background-color: white;
	width: 400px;
	margin: auto;
}


.boton{
	width: 100px;
	height: 35px;

}
